<div class="container">
  <br>
  <h3>Make a booking</h3>
  <br>
  <%= simple_form_for [ @activity, @booking ] do |f| %>
    <%= f.input :date, as: :string, label: 'On which date do you want to visit?', input_html: {class:"datepicker"} %>
    <%= f.input :number_of_people, input_html: {min: 0}, label: "for how many people?"%>
    <%# <%= f.input :date, :as => :, :input_html => { :class => 'date_picker' } %>

    <%= f.submit "Book now!", class: "btn btn-simple my-3" %>
    <%# <%= f.submit "Confirm booking!", class: "btn btn-simple my-3", data: { target: "#exampleModal", toggle: "modal", dismiss: "modal" }%>
    <%# <%= render 'confirmation' %>
  <% end %>
</div>

