<div class="container">
  <br>
  <div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url('<%= cl_image_path @booking.activity.banner_photo.key, width: 1130, crop: :fill %>')">
  </div>

  <h2>Your Reservation for <%= @booking.activity.name %> is confirmed! <i class="fas fa-check"></i></h2>
  <br>

  <h2><strong>Reservation Details</strong></h2>
  <div class="reservation-details my-3 d-flex justify-content-between">
    <h3><%= @booking.number_of_people %> x Adult admission</h3>

                <h3><% if @booking.activity.price == 0 %>
                  FREE
                <% else %>
                  <i class="fas fa-dollar-sign" aria-hidden="true"></i> <%= @booking.activity.price.round(0) %> p.p.
                <% end %>
                </h3>
    <h3><strong>$ <%= @booking.activity.price * @booking.number_of_people %> total</strong></h3>
  </div>
  

  <div class="map-container border-top pt-3">
    <h2><strong>How to get there</strong></h2>
    <h6><%= @booking.activity.address %></h6>
    <br>
    <div class="border p-4">
      <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
  <br>
  <br>
  <%= link_to 'Find more Activities', activities_path, class: "btn btn-simple" %>
  <br>
  <br>
</div>

