<%# Banner %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<%# Text and Cards  %>

<div class="container mt-3 mb-3">

  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet, vis novum iuvaret appareat ne, pro putant copiosae ut. Labore dissentiet id quo, liber impetus his ut. Sed oratio neglegentur in. Error erroribus urbanitas id vel, cu pericula repudiare sea.
  </p>
  
  <br>
  <br>
  <br> 
  
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1612259634947-d395cc7da87d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bXVzZXVtJTIwYnVpbGRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    <div class="card-product-infos">
      <div class="d-flex justify-content-between align-items-center pr-2">
        <h2>Deutsches Jagd - und Fischereimuseum</h2>
        <h2><i class="fas fa-euro-sign" aria-hidden="true"></i> 24</h2>
      </div>  
      <hr>
      <div class="d-flex justify-content-between align-items-center pr-2">
      <h3>Neuhauser Str. 2, 80331 München</h3>
      <h3>2- 3 Hours</h3>
      </div>
      <p>The German Hunting and Fishing Museum is a museum exhibiting objects connected with the history of hunting and fishing in Germany or other territories which nowadays belong to it. Located in the pedestrian zone of the city center of Munich, Bavaria, it is a rare institution worldwide.</p>
    </div>
  </div>

  <br>
  <br>
  <br>

  <% activity = Activity.find(id=1) %>
  <% booking = Booking.last %>

  <%= link_to 'index page', activities_path %>

  <br>

  <%= link_to 'show page activities', activity_path(activity) %>

  <br>

  <%= link_to 'new activity form', new_activity_path %>

  <br>

  <%= link_to 'edit activity form', edit_activity_path(activity) %>

  <br>
  <br>
  <%= link_to 'make new booking', new_activity_booking_path(activity) %>

   <br>
  <%= link_to 'edit booking', edit_booking_path(booking) %>

</div>
