<<<<<<< HEAD
<div class="banner">
   <div class="container">
    <h1 class="text-center">Welcome to Cultural Connections</h1>
    <p class="text-center">Culture | History | People</p>
  </div>
  <div class="container text-center">
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" placeholder="find activities in a new city" name="search[query]" id="search_query" />
        <div>
          <button name="button" type="submit" class="btn btn-simple my-3">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container space-cards">
  <hr class="w-80">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-5">
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'museum1.jpeg', id: 'home_img', class: "card-img-top mx-auto my-3" %>
          <h3 class="card-title">Discover cultural institutions</h3>
          <p class="card-text">#</p>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'museum2.jpeg', id: 'home_img', class: "card-img-top mx-auto my-3 pt-5 pb-3" %>
          <h3 class="card-title">Feel the culture</h3>
          <p class="card-text">#</p>
        </div>
      </div>
    </div>
    <div class="col py-2">
      <div class="card h-100">
        <div class="card-body">
          <%= image_tag 'museum3.jpeg', id: 'home_img', class: "card-img-top mx-auto my-3 pt-4 pb-4" %>
          <h3 class="card-title">Connect the people</h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
=======
<div class="container">

  <h1>Pageshome</h1>


  <% activity = Activity.find(id=1) %>
  <% booking = Booking.last %>

  <%= link_to 'index page', activities_path %>

  <br>

  <%= link_to 'show page activities', activity_path(activity) %>

  <br>

  <%= link_to 'new activity form', new_activity_path %>

  <br>

  <%= link_to 'edit activity form', edit_activity_path(activity) %>

  <br>
  <br>
  <%= link_to 'make new booking', new_activity_booking_path(activity) %>

   <br>
  <%= link_to 'edit booking', edit_booking_path(booking) %>
</div>


>>>>>>> master
