
<%= cl_image_tag activity.banner_photo.key, class:'popupImg', :transformation => {:width => 330, :crop => "pad"} %>
<h3><%= activity.name %></h3>
<hr>
<p><strong><%= activity.address %></strong></p>
<div class="d-flex justify-content-between align-items-center">
<p><strong>Duration</strong> <i class="fas fa-clock"></i> <%= activity.duration.round(0) %> hour<%='s' if activity.duration > 1 %></p>
<p><% if activity.price == 0 %>
    <strong>Price</strong> FREE
  <% else %>x
    <strong>Price</strong> <i class="fas fa-dollar-sign"></i> <%= activity.price.round(0) %>
  <% end %>
</p>
</div>

<%= link_to 'More Info', activity_path(activity), class: 'btn btn-map mt-1', data: { turbolinks: false } %>