<div id="index-container">
  <div class="row">
    <div class="col-7">
      <%= form_tag activities_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Enter a location or keyword",
              style: "border-radius: 15px"
             %>
    </div>
    <div class="col-5">
        <%= select_tag "category_ids", options_from_collection_for_select(@categories, "id", "name"), multiple: true %>
        <%= submit_tag "Search", class:"btn btn-simple my-3"%>  
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-7 index-cards">
      <% if @activities.empty? %>
        <h2>Sorry, we couldn't find any matches to your search</h2>
        <h2>Please try again with different search terms</h2>
      <% else %>
        <% @activities.each do |activity| %>
          <div class="index-card-product">
            
            <%= link_to image_tag("https://images.unsplash.com/photo-1612259634947-d395cc7da87d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bXVzZXVtJTIwYnVpbGRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"), activity_path(activity), class:"card-link" %>
            <div class="index-card-product-infos">
              <div class="index-card-grid">
                <h2><%= activity.name %></h2>
                <h2><% if activity.price == 0 %>
                      FREE
                    <% else %>
                      <i class="fas fa-dollar-sign" aria-hidden="true"></i> <%= activity.price.round(0) %>
                    <% end %>
                </h2>
              </div>
              <hr>
              <div class="index-card-grid">
              <h3><%= activity.address %></h3>
              <h3><%= activity.duration.round(0) %> Hour<%='s' if activity.duration > 1 %></h3>
              </div>
              <p><%= activity.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-5 map">
      <h1>THIS IS WHERE THE MAP GOES</h1>
    </div>

  </div>
</div>
