<div id="index-container">
  <div class="row">
    <div class="col-7 index-cards">
      <% @activities.each do |activity| %>
        <div class="card-product">
          
          <%= link_to image_tag("https://images.unsplash.com/photo-1612259634947-d395cc7da87d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bXVzZXVtJTIwYnVpbGRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"), activity_path(activity), class:"card-link" %>
          <div class="card-product-infos">
            <div class="d-flex justify-content-between align-items-center pr-2">
              <h2><%= activity.name %></h2>
              <h2><i class="fas fa-dollar-sign" aria-hidden="true"></i> <%= activity.price.round(3) %></h2>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center pr-2">
            <h3><%= activity.address %></h3>
            <h3><%= activity.duration.round(0) %> Hour<%='s' if activity.duration > 1 %></h3>
            </div>
            <p><%= activity.description %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-5 map">
      <h1>THIS IS WHERE THE MAP GOES</h1>
    </div>

  </div>
</div>
