<div class="container">
  <h1 id="my_provided_activities">My provided activities:</h1>
  <br>
  <% if @activities.blank? %>
    <h5>You haven't created any activity yet.</h5>
    <br>
    <%= link_to 'Create one now!', new_activity_path, class: "btn-simple" %>
  <% else %>
    <% @activities.each do |activity| %>
      <div class="card-trip">
        <%= cl_image_tag activity.banner_photo.key, height: 450, width: 850, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= activity.name%></h2>
            <p><%= activity.description %></p>
          </div>
          <div>
            <%= link_to "Details", activity_path(activity), class: "btn-simple", data: { turbolinks: false }%>
          </div>
        </div>
          <div class="d-flex align-items-center pb-3">
            <% if user_signed_in? && policy(activity).edit? %>
              <%= link_to edit_activity_path(activity) do %>
                <i class="fas fa-pen-square fa-2x" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
      </div>
      <br>
    <% end %>
  <% end %>
</div>
