<div class="show-banner d-flex align-items-start justify-content-between" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
url('<%= cl_image_path @activity.banner_photo.key, crop: :fill %>')">

  <%= link_to activities_path do %>
    <i id="back-btn" class="fas fa-chevron-left m-3"></i>
  <% end %>
  <div class="align-self-center">
    <h1><%= @activity.name %></h1>
    <%= link_to 'Book now!', new_activity_booking_path(@activity), class: 'btn btn-simple my-3', data: { turbolinks: false } %>
  </div>
  <div id="heart">
    <% if user_signed_in?%>
      <% if current_user.favorites.where(activity_id: @activity.id).exists? %>
        <%= link_to favorite_path(current_user.favorites.find_by(activity_id: @activity.id)),
              method: :delete do %>
          <i class="fas fa-heart m-3"></i>
        <% end %>
      <% else %>
        <%= link_to activity_favorites_path(@activity), method: :post, params: { "favorite[activity_id]" =>  @activity.id }  do %>
              <i class="far fa-heart m-3"></i>
        <% end %>
      <% end %>
    <% else %>
      <i class="far fa-heart m-3 transparent"></i>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row ">
    <h6 class="col-md-12 col-lg-3 my-3">Every day except Mondays <br>
       <%= @activity.opening_hours %>
    </h6>
    <div class="col-md-12 col-lg-4 p-3 my-3"><%= render 'avg_rating' %></div>
    <div class="card-product col-md-12 col-lg-5 p-0 my-3" style="max-width: 475px">
      <img src="http://mt0.google.com/vt/lyrs=m@189000000&hl=en&src=api&x=4828&y=6162&z=14&s=Galile" />
      <div class="card-product-infos">
        <p><i class="fas fa-map-pin"></i>       <strong> <%= @activity.address %></p></strong>
        <p><i class="fas fa-phone"></i>      <strong> <%= @activity.contact_number %></p></strong>
        <p><i class="fas fa-envelope"></i>      <strong> <%= @activity.name.downcase.gsub(/\s+/, "")%>@cc.club</p></strong>
        <p><i class="fas fa-dollar-sign"></i><% if @activity.price == 0 %>
               <strong> FREE </strong>
              <% else %>
                <strong> <%= @activity.price.round(0) %> </strong>
              <% end %></p>

      </div>
    </div>
  </div>
</div>
  <br>
  <br>
<div class="container">
  <div class="description mb-4">
    <span class="description-text"><%= @activity.lng_description %></span>
  </div>
</div>
<br>
<br>
<div id="carouselActivityPhotos" class="carousel slide" data-ride="carousel">
  <div class="text-center">
      <ol class="carousel-indicators">
        <% imageNum = @activity.photos.size %>
        <%  imageNum.times do |photo| %>
        <% counter = 0 %>
          <li data-target="#carouselActivityPhotos" data-slide-to="#{counter}" class="active"></li>
        <% counter += 1 %>
        <% end %>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @activity.photos[0].key, height: 550, width: 950, crop: :fill, class:"carousel-img-show"%>
      </div>
        <% rest_photos = @activity.photos[1 .. -1] %>
        <% rest_photos.each do |photo| %>
      <div class="carousel-item">
          <%= cl_image_tag photo.key, height: 550, width: 950, crop: :fill, class:"carousel-img-show"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="text-center border-top py-4">
    <h3><strong>What people say about <%= @activity.name %>:</strong></h3>
    <br>
      <%= render 'reviews' %>
    <br>

    <% if user_signed_in? %>
      <div class="review-container border-top py-3">
        <br>
        <%= simple_form_for [ @activity, @review = Review.new ] do |f| %>
          <%= f.input :stars, collection: (1..5).to_a, label: 'Rate your experience' %>
          <%= f.input :comments, label: 'Send your review' %>
          <%= f.submit "Submit review", class: "btn btn-simple my-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
