<h1>this is the show page of <%= @activity.name %></h1>
<ul>
  <% @activity.bookings.each do |booking| %>
    <li><%= booking.date %>  -  <%= booking.user.username %>  -  <%= booking.number_of_people %>  -  <%= booking.status %></li>
    <br>
  <% end %>
</ul>
