<div class="show-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
url('<%= cl_image_path @activity.banner_photo.key, width: 1130, crop: :fill %>')">
    <h1><%= @activity.name %></h1>
    <%= link_to 'Book now!', new_activity_booking_path(@activity), class: 'btn btn-simple my-3', data: { turbolinks: false } %>
</div>

<div class="container">
  <div class="main-info d-flex justify-content-between">
    <h6>Every day except Mondays <br>
       From 9.30 am to 6.00 pm
    </h6>
    <%= render 'avg_rating' %>
    <div class="card-product">

      <img src="http://mt0.google.com/vt/lyrs=m@189000000&hl=en&src=api&x=4828&y=6162&z=14&s=Galile" />
      <div class="card-product-infos">
        <p><%= @activity.address %></p>
      </div>
  </div>
</div>
  <br>
  <br>

  <div class="description mb-4">
    <h6><%= @activity.description %></h6>
      <% unless current_user.favorites.where(activity_id: @activity.id).exists? %>
        <%= link_to activity_favorites_path(@activity), method: :post, params: { "favorite[activity_id]" =>  @activity.id }  do %>
              <i class="far fa-heart"></i>
        <% end %>
      <%# <%= link_to 'Add to favorites â¤', activity_favorites_path(@activity), method: :post, params: { "favorite[activity_id]" =>  @activity.id } %>
      <% end %>
  </div>

<div id="carouselActivityPhotos" class="carousel slide" data-ride="carousel">
  <div class="text-center">
  <ol class="carousel-indicators">
      <% imageNum = @activity.photos.size %>
      <%  imageNum.times do |photo| %>
        <% counter = 0 %>
        <li data-target="#carouselActivityPhotos" data-slide-to="#{counter}" class="active"></li>
        <% counter += 1 %>
      <% end %>
    </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <h3 class="card-title"><%= @activity.name %></h3>
      </div>
      <%= cl_image_tag @activity.photos[0].key, height: 450, width: 850, crop: :fill %>
    </div>
      <% rest_photos = @activity.photos[1 .. -1] %>
      <% rest_photos.each do |photo| %>
      <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="card-title"><%= @activity.name %></h3>
        </div>
          <%= cl_image_tag photo.key, height: 450, width: 850, crop: :fill %>
      </div>
      <% end %>
  </div>
  </div>
</div>
<br>
<br>



  <div class="text-center border-top py-4">
    <h3><strong>What people say about <%= @activity.name %>:</strong></h3>
    <br>
      <%= render 'reviews' %>
    <br>

    <% if user_signed_in? %>
      <div class="review-container border-top py-3">
        <br>
        <%= simple_form_for [ @activity, @review = Review.new ] do |f| %>
          <%= f.input :stars, collection: (1..5).to_a, label: 'Rate your experience' %>
          <%= f.input :comments, label: 'Send your review' %>
          <%= f.submit "Submit review", class: "btn btn-simple my-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
