<!DOCTYPE html>
<html>
  <head>
    <title>Cultural Connections Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta property="og:title" content="Cultural Connections Club"/>
    <meta property="og:description" content="The Cultural Connections Club is a new way to find and support cultural organizations in your area. Our aim is to deliver fast easy and, convient service that combines unique interesting and, memorable experiences for all people."/>
    <meta property="og:image" content="../assets/images/CCC_thumb.png">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.cultural-connections.club/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
